@import "~bootstrap/scss/bootstrap.scss";

* {
    box-sizing: border-box;
}

.box {
    border-radius: 10px;
    border-style: ridge;
}

body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/282/196/29/taiwan-city-cityscape-traffic-car-hd-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.light {
    background-color: gray;
    border-radius: 100%;
    position: relative;
    height: 100px;
    width: 100px;
    bottom: 3px;
    margin-bottom: 0.5rem;
}

.light::after {
    border-radius: 100%;
    content: ' ';
    position: absolute;
    top: 6px;
    left: 0px;
    width: 70px;
    height: 70px;
}

.light.red.selected {
    background-color: red;
    box-shadow: 0 0 20px 5px red;
}

.light.yellow.selected {
    background-color: yellow;
    box-shadow: 0 0 20px 5px yellow;
}

.light.green.selected {
    background-color: green;
}